

body.dark-mode {
    /* Dark mode styles for the body */
    filter: invert(1);
    background-color: #111;
    color: #fff;
}

 
    body.dark-mode h1,
    body.dark-mode h2,
    body.dark-mode h3,
    body.dark-mode h4,
    body.dark-mode h5,
    body.dark-mode h6,
    body.dark-mode p {
        color: #fff;
        background-color: transparent;
    }

    body.dark-mode a {
        color: #aaa;
        filter: invert(0);
    }

    body.dark-mode img,
    body.dark-mode svg {
        filter: invert(0.85);
    }
