@inherits LayoutComponentBase
<FluentLayout>
    <FluentHeader>
        <div class="logo">
            <img src="/images/PPlogo.png" alt="ParkPal Logo" style="max-height: 40px; width: auto;">
         
        </div>
        <div class="header-menu">
            <ul>
                <li><a href="https://localhost:7275/">Home</a></li>
                <li><a href="https://localhost:7275/Search">Explore</a></li>
                <li><a href="https://localhost:7275/Support">Support</a></li>
                
            </ul>
        </div>
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentBodyContent>
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <div class="link1">
            
        </div>
        <div class="link2">
            <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank">Support ParkPal</a>
        </div>
    </FluentFooter>
</FluentLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<style>
   
    .header {
        background-color: #333; 
        color: #fff; 
        padding: 10px;
        display: flex;
        align-items: center; 
        justify-content: space-between; 
    }

    .logo {
        margin-right: 20px; 
    }

    .header-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

        .header-menu ul li {
            margin-right: 20px;
        }

            .header-menu ul li a {
                color: #fff; 
                text-decoration: none;
            }

                .header-menu ul li a:hover {
                    text-decoration: underline;
                }
</style>
