@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView Roles="Admin">Admin!</AuthorizeView>

<AuthorizeView Roles="User">User!</AuthorizeView>

<style>
    
    .cta a {
        padding: 12px 24px;
        background-color: #3498db;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.2s ease-in-out;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

        .cta a:hover {
            background-color: #2980b9;
            transform: translateY(-2px);
        }
</style>

<div style="text-align: center; margin-top: 50px;">
    <div style="font-size: 48px; font-weight: bold; color: #3498db;">
        Welcome to <strong style="color: #2c3e50;">ParkPal!</strong>
    </div>
    <div style="font-size: 24px; margin-top: 20px; color: #3498db;">
        Your Solution for Convenient Parking
    </div>
    <div style="text-align: center; margin-top: 30px; max-width: 600px; margin-left: auto; margin-right: auto; font-size: 18px; color: #555;">
        <p>Find hassle-free parking spots with ParkPal! Discover and reserve parking spaces near your destination quickly and easily. Whether it's for work, events, or outings, ParkPal helps you locate available parking spaces and secure your spot in advance.</p>
    </div>
    <div class="cta" style="text-align: center; margin-top: 30px;">
        <p><a href="https://localhost:7275/spaces/create">Start Your ParkPal Journey</a></p>
    </div>
</div>







