@page "/"



<PageTitle>Home</PageTitle>

<AuthorizeView Roles="Admin">Admin!</AuthorizeView>

<AuthorizeView Roles="User">User!</AuthorizeView>

<div style="margin-top: 20px; font-size: 42px; font-weight: bold;">
    Welcome to <strong>ParkPal!</strong>
</div>

<div style="margin-top: 20px;">
    <p>Start your ParkPal Journey <a href="https://localhost:7275/spaces/create">here</a>.</p>
</div>

